@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--imgheight: 100px;
}
h1,
p {
	font-family: 'DM Sans', sans-serif;
}

main,
#gridthing {
	min-height: 100vh;
}

.align-items-center {
	align-items: center;
}

img {
	max-height: 50vh;
}

* {
	font-family: 'DM Sans', sans-serif;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
	opacity: 0;
}

.dark-toggle {
	position: absolute;
	color: white;
	z-index: 99999999999999999999999999999999999999999999;
	top: 1rem;
	left: calc(100% - 3rem);
	cursor: pointer;
}

#trash {
	height: 20rem;
	max-height: 20rem;
}

@media screen and (max-width: 40rem) {
	#trash {
		height: 10rem;
		max-height: 10rem;
	}
}

#text-thingy {
	width: 400px;
	height: 200px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

#flower {
	height: var(--imgheight);
	position: relative;
	z-index: 99999999;
	top: calc(var(--imgheight) / 2);
}

#info-container {
	width: 400px;
}

#fw-container {
	width: 100%;
}

#info-container {
	margin-inline: auto;
}

main {
	padding-bottom: 1px;
}